<% include header %>

<div class="col-md-2 subnav-left">
  <h3>新建接口</h3>
</div>


<div class="content">
  <div class="container">
    <div class="job">
      <div class="col-md-10 layout-main">
        <form id="mockadd-form" class="form-horizontal" action="/mock/doAdd" method="post">
        <input type="hidden" name="mock_json" />
        <div class="form-group">
            <label class="col-md-2 control-label">所属项目</label>
            <div class="col-md-5 ui-form-item">
              <select name="project_id"> </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label">接口标题</label>
            <div class="col-md-5 ui-form-item">
              <input class="form-control" name="title" placeholder="请输入接口标题">
            </div>
            <div class="col-md-3">
              <span class="form-group-tip">形如：搜索推广计划</span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label">接口URL</label>
            <div class="col-md-5 ui-form-item">
              <input class="form-control" name="url" placeholder="请输入接口URL">
            </div>
            <div class="col-md-3">
              <span class="form-group-tip">形如：/plan/manage/create.do</span>
            </div>
          </div>

          <div class="form-group" >
            <label class="col-md-2 control-label">输入参数</label>
            <div class="col-md-5 ui-form-item" id="textarea-para-json">
              <textarea class="form-control" rows="8" name="para_json"  placeholder="请输入‘输入参数’"></textarea>
            </div>
            <div class="col-md-3">
              <span class="form-group-tip">*必填, <=10000字符</span>
            </div>
          </div>

          <div class="form-group" >
            <label class="col-md-2 control-label">输出数据</label>
            <div class="col-md-7 ui-form-item" id="textarea-result-json">
              <textarea  id="result_json" class="form-control" rows="8" name="result_json"  placeholder="请输入‘输出数据’"></textarea>
            </div>
            <div class="col-md-3">
              <span class="form-group-tip">*必填, <=10000字符</span>
            </div>
          </div>

          <div class="form-group" >
            <label class="col-md-2 control-label">
            MOCK数据（FE填写，如为空，将默认使用输出数据作为mock结果数据）
            </label>
            <div class="col-md-7 ui-form-item" id="textarea-mock-json">
              <div id="mockjson"></div>
            </div>
            <div class="col-md-3">
            <button id='jsonCheck' type="button" class="ok btn btn-secondary">json格式验证</button>
            <button id='importResultJson' type="button" class="ok btn btn-secondary">导入输入数据</button>
            </div>
          </div>

          <div class="form-group" >
            <label class="col-md-2 control-label">备注</label>
            <div class="col-md-5 ui-form-item" id="textarea-remark">
              <textarea class="form-control" rows="4" name="remark"  placeholder="请输入‘备注’"></textarea>
            </div>
            <div class="col-md-3">
              <span class="form-group-tip">*必填, <=1000字符</span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label">是否启动mock</label>
            <div class="col-md-5 ui-form-item">
              <select name="is_mock">
                <option value="1">是</option>
                <option value="0">否</option>
              </select>

            </div>
          </div>


          <div class="form-group">
            <div class="col-md-3 col-md-push-2">
              <button id='btn-add-submit' type="button" class="ok btn btn-secondary">提 交</button>&nbsp;&nbsp;
              <button type="reset" class="cancel btn btn-default">取 消</button>
            </div>
          </div>



        </form>
      </div>
    </div>
  </div>
</div>


 <% include footer %>
